.readme.txt.swo
.readme.txt.swp
logs
assets/images
coreapp/appconfig.php
coreapp/dbconfig.php
apps/user/ldaplogin.php
coreapp/config.app.php
coreapp/config.db.php
.htaccess
assets/config.application.js
